/* Fondo general */

  
  /* Encabezado de la invitación */
  #invitation .text-center h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #invitation .text-center p {
    font-size: 1.125rem;
    margin-top: 0.5rem;
  }
  
  /* Detalles del evento */
  #invitation .mb-4 p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  

  /* Estilo para el tipo de evento especial (cumpleaños) */
  #invitation .birthday-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  
  

  /* Ajuste en los márgenes y el espacio */
  #invitation .text-center {
    margin-bottom: 2rem;
  }
  
  #invitation .mb-4 {
    margin-bottom: 2rem;
  }